@model TravelExpress.Models.HotelApi


<h2> @Model.Name </h2>
<p><strong> Location: </strong> @Model.Location </p>



<a class="btn btn-primary" href="@Url.Action("Index","Room",new{hotelId=Model.HotelId})"> Manage Rooms </a>
