@model IEnumerable<TravelExpress.Models.Booking>

@{
	ViewBag.Title = "Bookings";
	var roomId = ViewBag.RoomId;
	var roomNumber = ViewBag.RoomNumber;
}

<h2> Bookings for Room </h2>

<a class="btn btn-primary" href="@Url.Action("Create","Booking",new{roomId=roomId})"> Add Booking </a>

<table class="table">
	<thead>
		<tr>
			<th> Check-In </th>
			<th> Check-Out </th>
			<th> Actions </th>
		</tr>
	</thead>
	<tbody>
		@foreach(var booking in Model)
		{
			<tr>
				<td> @booking.checkIn.ToShortDateString()</td>
				<td> @booking.checkOut.ToShortDateString()</td>
				<td> 
					<a href="@Url.Action("Details","Booking",new{id=booking.BookingId})" class="btn btn-info sm"> Details </a>
				</td>
			</tr>
			
		}
	</tbody>
</table>



